body {background-color: #ea7b0b;}
h1 {font-size: 50px; font-family: showcard gothic; color: green; background-color: yellow;}
p {margin-left: 600px;}
p2 {margin-left: 300px;}
h2 {font-size: 40px; font-family: rockwell; color: #1eeeee;}
h3 {font-size: 20px; font-family: Algerian; color: red;}
